<div class="operation">
  <h1 class="operation_title">Login User</h1>

  <p style="color: Red"><%= @error %></p>
  <%= form_with(url: authentication_management_auth_path, local: true) do |form| %>

    <div class="field">
      <%= form.label :username, 'ユーザー名' %>
      <%= form.text_field :username, size: ApplicationController::FORM_FIELD_NAME_SIZE, :maxlength ApplicationController::FORM_FIELD_NAME_MAX_LENGTH %>
    </div>

    <div class="field">
      <%= form.label :password, 'パスワード' %>
      <%= form.text_field :password, size: ApplicationController::FORM_FIELD_PASSWORD_SIZE, :maxlength ApplicationController::FORM_FIELD_PASSWORD_MAX_LENGTH %>
    </div>

    <%#= ログイン後にリダイレクトするアクションを渡す %>
    <%= hidden_field_tag :after_login_page, flash[:after_login_page] %>

    <div class="actions">
      <%= form.submit %>
    </div>

  <% end %><%#= #form_with_end %>

</div>
