<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
  <div id="error_explanation">
    <h2><%= user.errors.count %> 個のエラーが検出されました。入力欄の修正をお願いします。</h2>

    <ul>
    <% user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= form.label :name, 'ユーザー名' %>
    <%= form.text_field :name, size: ApplicationController::USER_FIELD_NAME_SIZE, maxlength: ApplicationController::USER_FIELD_NAME_MAX_LENGTH %>
  </div>

  <div class="field">
    <%= form.label :password, 'パスワード' %>
    <%= form.text_field :password, size: ApplicationController::USER_FIELD_PASSWORD_SIZE, maxlength: ApplicationController::USER_FIELD_PASSWORD_MAX_LENGTH %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, 'パスワード(確認用)' %>
    <%= form.text_field :password_confirmation, size: ApplicationController::USER_FIELD_PASSWORD_SIZE, maxlength: ApplicationController::USER_FIELD_PASSWORD_MAX_LENGTH %>
  </div>

  <div class="actions">
    <%= form.submit '登録'%>
  </div>
<% end %>
