<div class="operation">

  <h1 class="operation_title">Destroy User</h1>

    <%= form_with(url: users_destroy_path, local: true) do |form| %>

      <div class="field">
        <%= form.label :name, 'ユーザー名' %>
        <%= form.text_field :name, size: ApplicationController::USER_FIELD_NAME_SIZE, maxlength: ApplicationController::USER_FIELD_NAME_MAX_LENGTH %>
      </div>

      <div class="field">
        <%= form.label :password, 'パスワード' %>
        <%= form.text_field :password, size: ApplicationController::USER_FIELD_PASSWORD_SIZE, maxlength: ApplicationController::USER_FIELD_PASSWORD_MAX_LENGTH %>
      </div>

      <div class="actions">
        <%= form.submit '削除'%>
      </div>

    <% end %><%#= #form_with_end %>

    <div id="provider_destroy">
      <%= link_to 'サービス認証による登録情報を削除',
                  users_provider_destroy_path,
                  class: :twitter_button,
                  :confirm => "登録情報を削除すると登録したコマンドが削除されますが、本当によろしいですか？" %><br>
      <span>※サービスにて認証状態にしてから実施してください</span>

    </div>

  </div>


</div>
