<div id="command_management_show">

  <div id="twitter_share">
    <%#=　当webサービスをツイートするボタンを表示  %>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <%#=ファイルでコマンドを取り込む  %>
  <div id="take_in_command_with_file">
    <%= link_to 'ファイル選択', take_in_command_with_file_file_select_path, { id: :file_select }%>
    <%= link_to 'コマンド取り込み', take_in_command_with_file_teke_in_command_path, { id: :take_in_command }%>
  </div>

  <%#= コマンドをカテゴリごとに表示する %>
  <ul id='category_all'>
    <% @categories.each do |category| %>
    <li id="category_name"><%= category.name %></li>
    <%= link_to 'new', category, { class: :category_operation }%>
    <%= link_to 'edit', edit_command_path(category), { class: :category_operation }%>
    <%= link_to 'destroy', category, method: :delete, data: { confirm: 'カテゴリを削除してもいいですか？関連するコマンドが全て削除されます。' }, { class: :category_operation }%>
    <ul id="command_all">
      <% category.commands.each do |command| %>
      <li id="command_name"><%= command.name %></li>
      <li id="command_contents"><%= command.contents %></li>
      <li id="command_description"><%= command.description %></li>
      <%= link_to 'new', command, { class: :commands_operation } %>
      <%= link_to 'edit', edit_command_path(command),  { class: :commands_operation }%>
      <%= link_to 'destroy', command, method: :delete, data: { confirm: 'コマンドを削除してもいいですか？' }, { class: :commands_operation }%>
    </ul>
  </ul>
  <% end %>

</div>
