<!DOCTYPE html>
<html>
  <head>
    <title>Copeeeeeeeee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="景山 皓介">
    <%# twitterのogp設定 %>
    <meta name="twitter:card" content="summary large image" />
    <meta name="twitter:title" content="Copeeeeeeeee" />
    <meta name="twitter:description" content="簡単にコピペできるようにしたくない？" />
    <meta name="twitter:image" content="<%= asset_url('twitter_ogp.jpg') %>" />

    <%# favicon %>
    <link rel="icon" href="<%= asset_url('favicon16.ico') %>" sizes="16x16">
    <link rel="icon" href="<%= asset_url('favicon32.ico') %>" sizes="32x32">
    <link rel="icon" href="<%= asset_url('favicon64.ico') %>" sizes="64x64">

    <%# webclip %>
    <link rel="apple-touch-icon-precomposed" href=" <%= asset_url('webclip.png') %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 id="title">Copeeeeeeeee</h1>
      <%#= ログイン名を表示する  %>
      <div id="login_name">
        <%= session[:username] %>
      </div>
      <% logger.debug("view読み込み開始 time:#{Time.now.to_s}") %>
      <div id="link">
        <%= link_to 'top', service_entrance_screen_path, { class: :header_link } %>
        <%= link_to 'サービスについて', service_info_path, { class: :header_link } %>
        <%= link_to 'ユーザー登録', new_user_path, { class: :header_link } %>
        <%= link_to 'ユーザー削除', users_delete_path, { class: :header_link } %>
        <%= link_to 'ログアウト', authentication_management_logout_path, { class: :header_link } %>
      </div>
    </header>
    <%#= 通知メッセージを表示する  %>
    <p id='notice'><%= notice %></p>

    <%#= 警告・エラーメッセージを表示する %>
    <p id='alert'><%= alert %></p>
    <%= yield %>
  </body>
  <footer>
    <small>Copyright (c) 2019 Copeeeeeeeee All Rights Reserved.</small>
  </footer>
</html>
