<!DOCTYPE html>
<html>
  <head>
    <title>Copeeeeeeeee</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 id="title">Copeeeeeeeee</h1>
      <%#= ログイン名を表示する  %>
      <div id="login_name">
        <%= session[:username] %>
      </div>
      <div id="link">
        <%= link_to 'top', service_entrance_screen_path, { class: :header_link } %>
        <%= link_to 'サービスについて', service_info_path, { class: :header_link } %>
        <%= link_to 'ユーザー登録', new_user_path, { class: :header_link } %>
        <%= link_to 'ユーザー削除', users_delete_path, { class: :header_link } %>
        <%= link_to 'ログアウト', authentication_management_logout_path, { class: :header_link } %>
      </div>
    </header>
    <%#= 通知メッセージを表示する  %>
    <p id='notice'><%= notice %></p>

    <%#= 警告・エラーメッセージを表示する %>
    <p id='alert'><%= alert %></p>
    <%= yield %>
  </body>
  <footer>
    <small>Copyright (c) 2019 Copeeeeeeeee All Rights Reserved.</small>
  </footer>
</html>
